@import '_variables';
/* defines background image */
.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// all controls
* {
    font-family: $font-family;
}

// form-control (such as input, etc...)
.form-control {
    background: white;
    font-size: $font-size;
    color: $main-color-grey;
    border: 1px solid #ced4da;
    border-radius: 0px;
    height: 45px;
    box-shadow: none;// 0 0 0 0.2mm #BDBDBD;
    -webkit-box-shadow: none;// 0 0 0 0.2mm #BDBDBD;
}
.form-control:focus {
    border-color: $main-color-red;
    box-shadow: none;// 0 0 0 0.6mm $main-color-red;    
    -webkit-box-shadow: none;// 0 0 0 0.6mm $main-color-red;
}

// buttons
.btn {
    border-radius: 0;
    border: 1px solid transparent;
}
.btn:focus {
    border: 1px solid $main-color-red;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.btn:not(:disabled):not(.disabled):active:focus, 
.show>.btn.dropdown-toggle:focus {    
    box-shadow: none;
    -webkit-box-shadow: none;
}
.btn-danger {
    background: $main-color-red;
    font-size: 15px;
}